
FRIDAY-Java - Copy/log/server.log
out/production/FRIDAY-JAVA/tts/AudioPlayer.class

.idea*
log*
FRIDAY-Java.iml
src/META-INF/MANIFEST.MF
target/classes/googleAPI/GoogleAPIMain$1.class
target/classes/googleAPI/GoogleAPIMain.class
target/classes/googleAPI/Timeout.class
target/classes/marytts/AudioPlayer$Status.class
target/classes/marytts/AudioPlayer.class
target/classes/marytts/TextToSpeech.class
target/classes/model/ANSI.class
target/classes/model/MyHandler.class
target/classes/model/Node$DeepScan.class
target/classes/model/Node.class
target/classes/model/SpeechRecognizerMain.class
target/classes/model/testhttp.class
out/artifacts/FRIDAY_JAVA_jar/hs_err_pid10060.log
out/artifacts/FRIDAY_JAVA_jar/hs_err_pid13028.log
out/artifacts/FRIDAY_JAVA_jar/hs_err_pid15136.log
out/production/FRIDAY-JAVA/tts/TextToSpeech.class
out/production/FRIDAY-JAVA/tts/AudioPlayer$Status.class
out/production/FRIDAY-JAVA/model/ANSI.class
out/production/FRIDAY-JAVA/model/MyHandler.class
out/production/FRIDAY-JAVA/model/Node$DeepScan.class
out/production/FRIDAY-JAVA/model/Node.class
out/production/FRIDAY-JAVA/model/SpeechRecognizerMain.class
out/production/FRIDAY-JAVA/model/testhttp.class
out/artifacts/FRIDAY_JAVA_jar/binding/python/__pycache__/porcupine.cpython-37.pyc
